#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#image-part {
    width: 20%;
    /* background: green; */
}

#text-part {
    width: 80%;
}

#item-img {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    margin-top: 10px;
    border-radius: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid black;
}

#item-title {
    font-size: 3vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

#item-text {
    font-size: 2vh;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    border: 1px solid #541c27;
}

.divider {
    width: 80%;
    height: 1px;
    background: #541c27;
    margin-top: 10px;
    margin-left: 10%;
}

